<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            &copy; YelpCamp
            <script>
                document.write(new Date().getFullYear());
            </script>
        </span>
    </div>
</footer>